@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@500&display=swap" rel="stylesheet');

html,
body {
    height: 100%;
}

.greetings,
p,
h1, 
h2 {
    font-family: 'Noto Serif JP', serif;
}

.flex-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: auto;
    background-color: #919191;
    padding: 10px;
    height: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 13%;
    margin-bottom: 3em;
    background-color: #d3ddd4;
}

ul  {
    display: flex;
    list-style-type: none;
}

ul li {
    margin-right: 50px;
}

li a {
    text-decoration: none;
    font-family: 'Noto Serif JP', serif;
    font-size: 1.5rem;
    color: #000000;
    font-weight: 800;
}

.logo img {
    width: 600px;
    height: 150px;
    margin-left: 10px;
}

.about_me {
    display: flex;
    flex-direction: column;
	flex: 1 0 auto;
}

.data {
    display: flex;
    align-items: center;
}

.fullname {
    margin-right: 200px;
    flex-basis: 750px;
}

.myImg {
    margin-top: -100px;
    flex-basis: 450px;
}

.knowledge {
    display: flex;   
    padding-left: 1200px;
	color: #ffffff;
}

.article {
	padding-left: 0px;
}


p {
    font-size: 1.2rem;
    color: #ffffff;
    padding-left: 200px;
}

.text {
	font-size: 2rem;
    color: #ffffff;
}

h2 {
	font-size: 2rem;
    text-align: center;
    color: #424242;
}

h1 {
    color: #ffffff;
	text-align: center;
	text-shadow: 1px 1px 1px red, 2px 2px 1px red;
	font-size: 3rem;
}

.footer {
    background-color: #e4fef3;
    flex: 0 0 auto;
}